* {
	margin:0;
	padding:0
}
body {
	margin:0px;
	padding:0px;
	font-family:arial
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight:bold
}
em {
	font-style:italic
}
h1 {
	font-size:138.5%
}
h2 {
	font-size:123.1%
}
h3 {
	font-size:108%
}
h4 {
	font-size:93%
}
h5 {
	font-size:85%
}
h1, h2, h3 {
	margin:0
}
.floatclear {
	float:none;
	clear:both
}
ol li {
	list-style-type:inherit
}
ul li {
	list-style-type:inherit
}
input {
	margin:0;
	padding:0
}
legend {
	margin:0;
	padding:0
}
form {
	margin:0;
	padding:0
}
fieldset {
	border:0
}
blockquote, ul, ol, dl {
	margin:1em
}
ol, ul, dl {
	margin-left:2em
}
dl dd {
	margin-left:1em
}
p, fieldset, table {
	margin:0 0 1em
}
br {
	margin:0 0 .5em 0;
	display:block
}
table {
	margin:0
}
a {
	color:#069;
	text-decoration:none
}
object {
	outline:none
}
a:hover {
	text-decoration:none
}
.LYT_Clear {
	clear:both
}
.contentHelper {
	display:none
}
.welcomeImage {
	height:450px
}
#LYT_PageContainer {
	width:975px;
	margin:0 auto;
	zoom:1
}
#LYT_PageContainer:after, #LYT_Body:after {
	clear:both;
	display:block;
	content:".";
	visibility:hidden;
	height:0;
	overflow:hidden
}
.nobodymargin #NLYT_Body {
	margin:0px 7px 10px 7px;
}
#LYT_Body, #NLYT_Body {
	zoom:1;
	margin:10px 7px;
	clear:both
}
.MC_LYT_Container {
	background:#fff;
	float:right;
	margin:0;
	padding:0px 0 0 0;
	width:796px
}
#NLYT_Body .MC_LYT_Container {
	float:none;
	margin:0;
	padding:0px;
	width:auto
}
#NLYT_Body .MC_LYT_PlainContainer {
	width:auto;
	float:none;
	margin:0px;
	font-size:60%;
	padding:0px
}
#GF_LYT_Container {
	padding:10px 0 0 0;
	border-top:solid 0px #beddf2;
	text-align:center;
	clear:both;
	font-family:Verdana;
	margin:0px 7px;
	font-size:70%;
	color:#565757
}
#GF_LYT_Container p {
	margin:5px 0 0 0;
	padding:0
}
#GF_LYT_Container a {
	color:#565757
}
#GF_LYT_Container span.GF_NAV_MainLinks {
	margin:0 0 5px 0
}
#GF_LYT_Container span.GF_NAV_MainLinks a {
	font-weight:bold
}
#GF_LYT_Container .MainfooterLink {
	margin-bottom:5px;
	display:block
}
#GF_LYT_Container .MainfooterLink a {
	font-weight:bold
}
#GF_LYT_Container .pipelinkBreak {
	margin:0 5px
}
.GN_LYT_GlobalNavigation {
	margin:0;
	right:0;
	padding:0;
	font-size:70%;
	z-index:500000;
	position:absolute;
	text-align:right;
	width:90px
}
.secondaryMainNavigation {
	padding:7px 0 0 7px
}
.SN_LYT_Container {
	width:155px;
	margin:-1px 0 0 0;
	padding:0;
	font-size:75%;
	float:left
}
.SN_LYT_Container h2 {
	padding:0;
	margin:0
}
.SN_LYT_Container ul {
	margin:0;
	padding:0
}
.SN_LYT_Container ul li {
	list-style-type:none;
	padding:5px 0 5px 15px;
	float:none;
	margin:0;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #e9e9e8;
	white-space:normal !important
}
.SN_LYT_Container ul li a {
	font-weight:bold;
	color:#004b85;
	width:145px
}
.SN_LYT_Container ul li ul {
	margin:0 0 10px 0;
	font-weight:normal
}
.SN_LYT_Container ul li ul li {
	padding:1px 0 1px 10px;
	border:none
}
.SN_LYT_Container ul li ul li a {
	font-weight:normal
}
.firstlevel, .firstlevel:hover, .firstlevelHeader {
	padding:0 0 0 5px
}
.secondlevel, .secondlevel:hover {
	padding:0 0 0 10px
}
.thirdlevel, .thirdlevel:hover {
	padding:0 0 0 15px
}
#LYT_Header {
	font-family:"Helvetica Neue", Helvetica, Arial
}
#LYT_Header .GN_NAV_Logo {
	display:block;
	float:left;
	width:150px;
	height:95px;
	text-indent:-10000px
}
#GN_NAV_Container {
	width:370px;
	float:right
}
#GN_NAV_Container .GN_NAV_Wrap {
	padding:4px 7px 0 0px;
	height:39px
}
ul.GN_NAV_Locale {
	float:left;
	margin:1px 0 0 12px;
	width:146px;
	color:#9c9c9c;
	font-size:60%;
	padding:0
}
*+html ul.GN_NAV_Locale {
	margin:3px 0 0 12px
}
*html ul.GN_NAV_Locale {
	margin:2px 0 0 8px;
	width:143px;
}
ul.GN_NAV_Locale li.countryArrow {
	padding:5px 10px 0 0
}
ul.GN_NAV_Locale li {
	float:left;
	padding:5px 0px 0 0px;
	cursor:pointer;
	list-style-type:none;
	margin:0 0px 0 0
}
*+html ul.GN_NAV_Locale li {
	padding:5px 0px 0 0px
}
ul.GN_NAV_Locale li div.RadMenu_Office2007 {
	margin:0 0 0 9px
}
*+html ul.GN_NAV_Locale li div.RadMenu_Office2007 {
	margin:0 0 0 5px
}
*html ul.GN_NAV_Locale li div.RadMenu_Office2007 {
	margin:0 0 0 3px
}
.GN_NAV_Products {
	width:410px;
	padding:0 0 0 15px;
	height:90px;
	float:left
}
.secondMainNavigation {
	margin:1px 0 0 7px
}
.GN_NAV_Products div.GN_NAV_ProductsHdr {
	border-bottom:solid 1px #eaeaea;
	color:#366c9d;
	font-size:12px;
	padding:34px 0 1px 0;
	height:15px
}
span.MC_FRM_ActiveButton, span.MC_FRM_InActiveButton {
	margin:0px;
	padding:0px;
	text-decoration:none;
	display:inline-block
}
span.MC_FRM_ActiveButton input, span.MC_FRM_InActiveButton input {
	line-height:1em;
	margin:0 1px 0 0px;
	padding:0 8px 0 9px;
	border:none;
	cursor:pointer;
	height:31px;
	font-weight:bold
}
#GN_LYT_Search {
	float:left;
	padding:0px;
	width:180px;
	overflow:hidden
}
#GN_LYT_Search legend, #GN_LYT_Search label {
	display:none
}
#GN_LYT_Search fieldset {
	margin:0;
	padding:0
}
#GN_LYT_Search ol {
	margin:0;
	padding:0
}
*+html #GN_LYT_Search ol {
	margin:3px 0 0 0;
	padding:0
}
*html #GN_LYT_Search ol {
	margin:3px 0 0 0;
	padding:0
}
#GN_LYT_Search li {
	margin:0;
	padding:0;
	float:left
}
.GN_FRM_SearchBox {
	width:110px;
	font-size:13px;
	padding:1px;
	position:relative;
	top:1px;
	margin:2px 4px 0 0;
	height:15px
}
*+html .GN_FRM_SearchBox {
	margin:-2px 4px 0 0;
	height:16px
}
*html .GN_FRM_SearchBox {
	margin:-1px 4px 0 0;
	height:15px
}
.GN_FRM_SearchButton {
	font-size:8px;
	font-weight:bold;
	height:20px;
	line-height:20px;
	text-align:center;
	width:62px;
	border:0px solid #000
}
#PN_LYT_Container {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	left:15px;
	top:96px;
	margin:0;
	font-size:85%;
	height:35px;
	zoom:1
}
#PN_LYT_Container:after {
	clear:both;
	display:block;
	content:".";
	visibility:hidden
}
#LYT_Header h1, #LYT_Header h2 {
	font-family:Verdana, Arial, Helvetica;
	font-weight:normal;
	font-size:25px;
	color:#a7cce8;
	padding:10px 0 5px 30px;
	margin:0 7px;
	clear:both;
	border-bottom:solid 1px #beddf2;
	text-transform:lowercase;
	overflow:hidden
}
.LYT_BeautyLanding #LYT_Header h1, .LYT_BeautyLanding #LYT_Header h2, .LYT_NutritionLanding #LYT_Header h1, .LYT_NutritionLanding #LYT_Header h2 {
	font-family:Verdana, Arial, Helvetica;
	font-weight:normal;
	font-size:0px;
	color:#fff;
	padding:0px;
	margin:0px;
	clear:both;
	border-bottom:solid 0px #beddf2;
	text-transform:lowercase;
	overflow:hidden
}
#MC_LYT_AboutFilmstrip, #MC_LYT_GlobalFilmstrip {
	margin:0px 0 0 0;
	height:81px
}
#MC_LYT_AboutFilmstrip ol, #MC_LYT_GlobalFilmstrip ol {
	margin:0;
	padding:0
}
#MC_LYT_AboutFilmstrip li, #MC_LYT_GlobalFilmstrip li {
	list-style:none;
	float:left;
	width:112px;
	height:81px;
	cursor:pointer;
	overflow:hidden
}
#MC_LYT_AboutFilmstrip li.MC_LYT_Last, #MC_LYT_GlobalFilmstrip li.MC_LYT_Last, .LYT_Last {
	border:none
}
#MC_LYT_AboutFilmstrip li h3, #MC_LYT_GlobalFilmstrip li h3 {
	font-size:11px;
	padding:6px
}
#MC_LYT_GlobalFilmstrip li h3 {
	overflow:hidden;
	white-space:nowrap;
	width:92px;
	cursor:pointer
}
#MC_LYT_GlobalFilmstrip li img {
	border:0
}
#MC_LYT_GlobalFilmstrip li a {
	display:block;
	height:81px
}
div.MC_LYT_Cofounders {
	margin-top:0px;
	width:186px;
	font-size:10px;
	padding:3px 5px;
	text-transform:uppercase
}
.LYT_Leadership #MC_LYT_AboutFilmstrip {
	margin-top:0
}
.LYT_Leadership #MC_LYT_AboutFilmstrip li {
	width:97px
}
.LYT_Leadership #MC_LYT_AboutFilmstrip li.MC_LYT_Last {
	width:103px
}
.LYT_Leadership #MC_LYT_AboutFilmstrip li h3 {
	font-size:10px
}
div.HA_LYT_Home {
	margin:0;
	padding:0;
	clear:both
}
div.HA_LYT_Home h1 {
	display:none
}
div.HA_LYT_AltContent {
	display:none
}
.MC_LYT_Container ol {
	margin:0;
	padding:0
}
.MC_LYT_Container .MC_IMG_Image {
	float:right;
	width:340px;
	height:296px;
	margin:2px 0px 0 0;
	overflow:hidden
}
.MC_LYT_static .MC_IMG_Image .mainImage {
	float:none;
	height:241px;
	overflow:hidden
}
.MC_LYT_static .MC_IMG_Image .imgTextContent {
	height:50px;
	display:block;
	margin:5px 0 0 0;
	font-size:11px;
	width:320px;
	padding:5px 10px 0;
	text-align:center
}
.MC_LYT_static .MC_IMG_Image .imgTextContent a {
	font-weight:normal
}
.MC_LYT_static .MC_IMG_Image .imgTextContent a:hover {
	text-decoration:underline
}
.MC_LYT_static .videoPlayerContainer {
	position:relative;
	width:100%;
	height:0px;
	float:right;
	display:none
}
div.ourStory div.MC_LYT_static div.MC_IMG_Image {
	cursor:pointer
}
.MC_LYT_static .videoPlayerContainer .videoPlayer {
	width:457px;
	height:330px;
	z-index:500;
	position:absolute;
	right:263px;
	bottom:68px
}
.MC_LYT_static .videoPlayerContainer .videoPlayerNavigation {
	width:420px;
	height:44px;
	margin:29px 19px 0 18px
}
.MC_LYT_static .videoPlayerContainer .videoPlayerNavigation .videoPlayerClose {
	width:17px;
	height:17px;
	display:block;
	float:right;
	margin:13px 14px 14px 0;
	cursor:pointer
}
.MC_LYT_static .videoPlayerContainer .videoPlayerNavigation .videoPlayerTitle {
	width:320px;
	float:left;
	display:block;
	margin:0px 0px 0 0;
	padding:10px 0 0 14px;
	font-size:18px;
	font-family:verdana
}
.MC_LYT_static .videoPlayerContainer .videoMainPlayer {
	width:420px;
	height:236px;
	margin:0px 19px 0 18px;
	overflow:hidden;
	padding:0
}
.MC_LYT_static .videoPlayerContainer .videoMainPlayer object {
	position:absolute;
	top:73px;
	left:18px
}
.MC_LYT_static .showVideoPlayer {
	display:block
}
div.PT_LYT_GlobalPromo {
	padding-top:21px
}
.MC_LYT_Container div.MC_LYT_Wrapper {
	float:left;
	font-family:Verdana;
	width:424px;
	font-size:13px;
	margin-top:2px;
	height:281px;
	padding:15px 15px 0 15px
}
.MC_LYT_Container div.MC_LYT_Wrapper div.MC_LYT_ScrollPanel {
	overflow:auto;
	line-height:1.4em;
	height:235px;
	width:400px;
	padding-right:20px;
	margin:7px 0 0 0
}
.MC_LYT_Container div.MC_LYT_Wrapper h2, .MC_LYT_Container div.MC_LYT_Wrapper h1 {
	color:#fff;
	font-size:27px;
	font-weight:normal
}
.MC_LYT_Container div.MC_LYT_Wrapper h3 {
	color:#fff;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	margin:0px 0 7px 0;
	line-height:normal
}
.MC_LYT_Container div.MC_LYT_Wrapper p {
}
.MC_LYT_Container .MC_LYT_wrap {
	display:none
}
.MC_LYT_Container .MC_LYT_50s, .MC_LYT_Selected50s .MC_LYT_50s, .MC_LYT_Selected60s .MC_LYT_60s, .MC_LYT_Selected70s .MC_LYT_70s, .MC_LYT_Selected80s .MC_LYT_80s, .MC_LYT_Selected90s .MC_LYT_90s, .MC_LYT_Selected00s .MC_LYT_00s, .MC_LYT_SelectedBeyond .MC_LYT_Beyond, .MC_LYT_Container .MC_LYT_static, .MC_LYT_Selectedframe1 .MC_LYT_frame1, .MC_LYT_Selectedframe2 .MC_LYT_frame2, .MC_LYT_Selectedframe3 .MC_LYT_frame3, .MC_LYT_Selectedframe4 .MC_LYT_frame4, .MC_LYT_Selectedframe5 .MC_LYT_frame5, .MC_LYT_Selectedframe6 .MC_LYT_frame6, .MC_LYT_Selectedframe7 .MC_LYT_frame7, .MC_LYT_Container .MC_LYT_AlKoop, .MC_LYT_SelectedAlKoop .MC_LYT_AlKoop, .MC_LYT_SelectedDougDevos .MC_LYT_DougDevos, .MC_LYT_SelectedBillPayne .MC_LYT_BillPayne, .MC_LYT_SelectedJimPayne .MC_LYT_JimPayne, .MC_LYT_SelectedEvaCheng .MC_LYT_EvaCheng, .MC_LYT_SelectedJayVanAndel .MC_LYT_JayVanAndel, .MC_LYT_SelectedSteveVanAndel .MC_LYT_SteveVanAndel, .MC_LYT_SelectedRichDevos .MC_LYT_RichDevos {
	display:block
}
.MC_LYT_Selected60s .MC_LYT_50s, .MC_LYT_Selected70s .MC_LYT_50s, .MC_LYT_Selected80s .MC_LYT_50s, .MC_LYT_Selected90s .MC_LYT_50s, .MC_LYT_Selected00s .MC_LYT_50s, .MC_LYT_SelectedBeyond .MC_LYT_50s, .MC_LYT_Selectedframe1 .MC_LYT_static, .MC_LYT_Selectedframe2 .MC_LYT_static, .MC_LYT_Selectedframe3 .MC_LYT_static, .MC_LYT_Selectedframe4 .MC_LYT_static, .MC_LYT_Selectedframe5 .MC_LYT_static, .MC_LYT_Selectedframe6 .MC_LYT_static, .MC_LYT_Selectedframe7 .MC_LYT_static, .MC_LYT_SelectedDougDevos .MC_LYT_AlKoop, .MC_LYT_SelectedBillPayne .MC_LYT_AlKoop, .MC_LYT_SelectedJimPayne .MC_LYT_AlKoop, .MC_LYT_SelectedEvaCheng .MC_LYT_AlKoop, .MC_LYT_SelectedJayVanAndel .MC_LYT_AlKoop, .MC_LYT_SelectedSteveVanAndel .MC_LYT_AlKoop, .MC_LYT_SelectedRichDevos .MC_LYT_AlKoop {
	display:none
}
.MC_LYT_VisionContainer .MC_IMG_Image {
	float:right;
	width:340px;
	height:377px;
	margin:0px 0px 0 0;
	overflow:hidden
}
.MC_LYT_VisionContainer div.MC_LYT_Wrapper {
	float:left;
	width:424px;
	background:#a8cfe9;
	margin-top:0px;
	height:362px;
	padding:15px 15px 0 15px
}
.MC_LYT_VisionContainer div.MC_LYT_Wrapper div.MC_LYT_ScrollPanel {
	overflow:auto;
	height:316px;
	width:400px;
	padding-right:20px
}
.scrollgeneric {
	line-height:1px;
	font-size:1px;
	position:absolute;
	top:0;
	left:0
}
.vscrollerbar {
	width:15px
}
.vscrollerbarbeg {
	height:15px !important;
	width:15px
}
.vscrollerbarend {
	height:15px;
	width:15px
}
.vscrollerbase {
	width:15px
}
.vscrollerbasebeg {
	width:15px;
	height:12px !important
}
.vscrollerbaseend {
	height:0;
	width:0
}
.vscrollerbar {
	padding:0px;
	z-index:2
}
.hscrollerbar {
	width:15px
}
.hscrollerbarbeg {
	height:15px !important;
	width:15px
}
.hscrollerbarend {
	height:15px;
	width:15px
}
.hscrollerbase {
	width:15px
}
.hscrollerbasebeg {
	width:15px;
	height:12px !important
}
.hscrollerbaseend {
	height:0;
	width:0
}
.hscrollerbar {
	padding:0px;
	z-index:2
}
.scrollerjogbox {
	width:15px;
	height:16px;
	top:auto;
	left:auto;
	bottom:0px;
	right:0px
}
.MC_LYT_FAQContainer h2 {
	font-size:100%;
	color:#069
}
.MC_LYT_FAQContainer h3 {
	font-size:90%;
	line-height:normal
}
.MC_LYT_FAQContainer p {
	font-size:13px;
	margin:0 0 1em
}
.MC_LYT_FAQContainer ul {
	font-size:13px
}
.MC_LYT_FAQContainer ol {
	margin:0 0 0 35px;
	font-size:13px;
	list-style-type:none
}
.MC_LYT_FAQContainer ol li {
	float:left;
	margin:0 25px
}
.MC_LYT_sabContainer {
	float:none;
	margin:0;
	padding:0px 0 0 0;
	width:auto;
	display:block;
	overflow:hidden
}
.MC_LYT_sabContainer .MC_LYT_Container .MC_LYT_Text {
	width:447px;
	float:left;
	height:400px;
	margin:0px 2px 0 0px
}
.MC_LYT_sabContainer .MC_LYT_Container .MC_LYT_Text div.MC_LYT_Wrap {
	padding:15px
}
*html .MC_LYT_sabContainer .mcontentwrapper {
	width:375px !important
}
.MC_LYT_sabContainer .MC_LYT_Container .MC_LYT_Text div.MC_LYT_ScrollPanel {
	overflow:auto;
	height:245px;
	padding-right:20px;
	font-family:Verdana;
	font-size:12px;
	line-height:1.4em
}
.MC_LYT_sabContainer .MC_LYT_Container .MC_LYT_Text h2, .MC_LYT_sabContainer .MC_LYT_Container .MC_LYT_Text h1 {
	font-size:27px;
	font-weight:normal;
	margin-bottom:25px
}
.MC_LYT_sabContainer .MC_LYT_Container .MC_LYT_Text h3 {
	font-size:20px;
	font-weight:normal;
	margin:7px 0;
	line-height:normal
}
.MC_LYT_sabContainer .MC_LYT_Container .MC_LYT_Text .MC_LYT_Wrap .MC_NAV_CallToAction a {
	font-family:Verdana;
	text-decoration:none;
	font-size:20px;
	padding-right:30px
}
.MC_LYT_sabContainer .MC_LYT_Container .MC_IMG_Image {
	float:left;
	width:347px;
	height:400px;
	overflow:hidden;
	margin:0
}
.MC_LYT_howToShop .MC_LYT_Container {
	overflow:hidden;
	height:301px
}
div.HA_LYT_Container {
	height:301px;
	padding-bottom:0px;
	margin:0px 0px 0 0;
	border-bottom:0px solid;
	width:741px;
	position:absolute;
	z-index:5
}
div.HA_LYT_Container h2 {
	font-weight:normal;
	font-size:30px;
	padding:15px 15px 5px 10px;
	line-height:normal
}
div.HA_LYT_Container h3 {
	font-weight:normal;
	font-size:15px;
	padding:0 15px 5px 10px;
	line-height:normal
}
div.HA_LYT_Container ul {
	margin:0;
	padding:15px 0 15px 10px;
	overflow:hidden
}
div.HA_LYT_Container li {
	list-style:none;
	width:270px;
	padding-right:80px;
	float:left;
	margin:0px;
	font-size:85%
}
div.HA_LYT_Container p {
	padding:0 0 7px 0;
	margin:0;
	font-weight:normal
}
div.HA_LYT_Container h4 {
	margin:0 0 7px 0;
	font-size:95%
}
div.HA_LYT_Container a {
	padding-right:25px;
	font-size:125%;
	margin:9px 0 0 0;
	display:inline-block
}
div.HA_LYTImg_Container {
	width:420px;
	overflow:hidden;
	float:right;
	margin:0px 0 0 0;
	height:301px
}
div.HA_LYTImg_Container div {
	float:right
}
div.PT_LYT_LandingPromos, div.PT_LYT_LandinghomePromos {
	padding:0px 0 0 0;
	margin:0px 0 0 0;
	font-size:11px;
	clear:both;
	display:block
}
div.PT_LYT_LandingPromos ul, div.PT_LYT_LandinghomePromos ul {
	margin:0;
	padding:0
}
div.PT_LYT_LandingPromos li, div.PT_LYT_LandinghomePromos li {
	width:310px;
	padding:15px 0px 0 5px;
	margin:0 5px 0 0;
	float:left;
	list-style:none;
	position:relative;
	min-height:70px;
	text-align:left;
	font-family:verdana, helvetica, arial;
	line-height:18px
}
*html div.PT_LYT_LandingPromos li, div.PT_LYT_LandinghomePromos li {
	padding:16px 0px 0 5px;
	margin:0 2px 0 0
}
*+html div.PT_LYT_LandingPromos li, *+html div.PT_LYT_LandinghomePromos {
	padding:15px 0px 0 3px
}
div.PT_LYT_LandingPromos li a, div.PT_LYT_LandinghomePromos li a {
	text-decoration:none;
	font-weight:bold
}
div.PT_LYT_LandingPromos li h4, div.PT_LYT_LandinghomePromos li h4 {
	font-weight:normal;
	padding:0;
	margin:0;
	font-size:124%;
	font-family:Arial
}
div.PT_LYT_LandingPromos li p, div.PT_LYT_LandinghomePromos li p {
	padding:0;
	margin:0
}
div.PT_LYT_LandingPromos li .PT_LYT_ImageWrap, div.PT_LYT_LandinghomePromos li .PT_LYT_Imagewrap {
	width:100px;
	height:140px;
	float:right;
	text-align:right;
	position:relative
}
div.PT_LYT_LandingPromos li a, div.PT_LYT_LandinghomePromos li a {
	margin-bottom:0.5em;
	font-size:108%;
	font-weight:bold;
	text-decoration:none;
	padding-right:15px
}
div.PT_LYT_LandingPromos a:hover, div.PT_LYT_LandinghomePromos a:hover {
	text-decoration:underline
}
.LYT_NutritionLanding h1 {
	font-family:Verdana, Arial, Helvetica;
	font-size:25px;
	font-weight:normal;
	padding:0px 0 5px 30px;
	color:#99BCCC
}
.LYT_NutritionLanding .HA_LYT_Landing {
	height:353px
}
.LYT_NutritionLanding .HA_LYT_Image {
	position:relative;
	float:left;
	z-index:1;
	margin:20px 0px 0;
	width:242px;
	overflow:hidden
}
.LYT_NutritionLanding .HA_LYT_Content {
	width:340px;
	margin:20px 0 0 55px;
	position:relative;
	z-index:2;
	float:left
}
*html .LYT_NutritionLanding .HA_LYT_Content {
	margin:20px 0 0 25px
}
.LYT_NutritionLanding .HA_LYT_Content p {
	width:330px;
	height:80px;
	font-size:12px;
	line-height:21px;
	color:#424242;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
}
.LYT_NutritionLanding .HA_LYT_Screenshot {
	margin-top:30px
}
.LYT_NutritionLanding .HA_LYT_Screenshot div.thumbnailImage {
	float:left;
	padding-right:10px
}
.LYT_NutritionLanding .HA_LYT_Screenshot div.thumbnailContent {
	font-size:11px;
	height:auto;
	color:#424242;
	font-family:"Helvetica Neue", Helvetica, Arial;
	line-height:1.4em;
	padding-top:0;
	width:175px;
	float:left
}
.LYT_NutritionLanding .HA_LYT_Screenshot p.HA_TXT_Note {
	font-size:9px
}
.LYT_NutritionLanding .HA_LYT_Content div.HA_FRM_Button {
	float:left;
	clear:both
}
*+html .LYT_NutritionLanding .HA_LYT_Content div.HA_FRM_Button {
	float:left;
	clear:both;
	margin-top:-31px
}
*html .LYT_NutritionLanding .HA_LYT_Content div.HA_FRM_Button {
	float:left;
	clear:both;
	margin-top:-31px
}
.LYT_NutritionLanding .HA_LYT_Content div.HA_FRM_Button a {
	width:144px;
	line-height:31px;
	text-decoration:none;
	text-align:center;
	font-size:11px;
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold
}
.LYT_NutritionLanding .HA_LYT_Side {
	float:right;
	width:275px;
	padding-right:30px
}
.LYT_NutritionLanding .HA_LYT_Side ul {
	margin:0;
	padding:0
}
.LYT_NutritionLanding .HA_LYT_Side li {
	list-style:none;
	height:76px;
	margin-bottom:1px;
	clear:both
}
*+html .LYT_NutritionLanding .HA_LYT_Side li {
	margin-bottom:-1px
}
*html .LYT_NutritionLanding .HA_LYT_Side li {
	margin-bottom:-3px
}
.LYT_NutritionLanding .HA_LYT_Side .HA_IMG_Thumb {
	float:left;
	width:108px;
	height:76px;
	margin:0;
	padding:0
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info {
	float:right;
	width:155px;
	padding-top:0px;
	border-bottom:0px solid #ccc;
	height:65px
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info h3, .LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info h3 a {
	font-size:12px;
	color:#3f95b4
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info h3 a:hover {
	text-decoration:underline
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info p {
	color:#262626;
	font-size:11px
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info a {
	color:#80bc47;
	font-size:10px;
	font-weight:bold;
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info p br {
	margin:0
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info a:hover {
	text-decoration:underline
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info a.homeLearnMore {
	float:left;
	padding-right:5px;
	border-right:solid 1px #ccc
}
.LYT_NutritionLanding .HA_LYT_Side .HA_LYT_Info a.homeShopNow {
	float:left;
	padding-left:5px
}
.LYT_NutritionLanding .HA_LYT_Content div.HA_IMG_NutriliteLogo {
	padding-top:15px
}
.LYT_NutritionLanding div.PT_LYT_LandingPromos {
	padding:0px;
	margin:0px;
	height:133px;
	border-bottom:0px solid #dcdcdc;
	padding-bottom:5px
}
.LYT_NutritionLanding div.PT_LYT_LandingPromos li {
	width:304px;
	padding:15px 0px 0 15px;
	margin:0 0px;
	float:left;
	list-style:none;
	position:relative;
	min-height:117px;
	text-align:left;
	font-family:verdana, helvetica, arial;
	line-height:18px
}
.LYT_NutritionLanding div.PT_LYT_LandingPromos li p, .LYT_NutritionLanding div.PT_LYT_LandinghomePromos li p {
	width:185px
}
.LYT_NutritionLanding div.PT_LYT_LandingPromos li .PT_LYT_ImageWrap img {
	position:absolute;
	right:0px;
	top:0px;
	z-index:3
}
.LYT_NutritionLanding div.PT_LYT_LandingPromos li .PT_LYT_ImageWrap {
	height:125px;
	overflow:hidden;
	margin-top:-10px
}
.LYT_BeautyLanding .HA_LYT_Landing h1 {
	color:#99BCCC;
	font-family:Verdana, Arial, Helvetica;
	font-size:25px;
	font-weight:normal;
	padding:0px 0 5px 30px;
	width:350px;
	float:left
}
.LYT_BeautyLanding .HA_LYT_Landing {
	height:338px;
	width:960px;
	clear:both;
	overflow:hidden
}
.LYT_BeautyLanding .HA_LYT_Image {
	width:499px;
	height:388px;
	border:0px solid #000;
	float:right
}
.LYT_BeautyLanding .HA_LYT_Content {
	width:340px;
	margin:0px 0px 0px 55px;
	color:#424242;
	float:left;
	font-size:12px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
}
*html .LYT_BeautyLanding .HA_LYT_Content {
	margin:0 0 0 20px
}
.LYT_BeautyLanding .HA_LYT_Content h2 {
	width:350px;
	font-size:37px;
	font-weight:normal;
	color:#497d94
}
.LYT_BeautyLanding .HA_LYT_Content h2 sup {
	font-size:14px;
	font-weight:normal;
	vertical-align:top
}
.LYT_BeautyLanding .HA_LYT_Content p {
	width:340px;
	height:78px;
	font-size:17px;
	line-height:21px
}
.LYT_BeautyLanding .HA_LYT_Content div.HA_FRM_Button a {
	width:144px;
	color:#fff;
	text-transform:uppercase;
	line-height:31px;
	text-decoration:none;
	text-align:center;
	font-size:11px;
	display:block
}
.LYT_BeautyLanding .HA_LYT_Screenshot {
	margin-top:40px
}
.LYT_BeautyLanding .HA_LYT_Screenshot div.screenImage {
	float:left;
	padding-right:10px
}
.LYT_BeautyLanding .HA_LYT_Screenshot div.screenContent {
	font-size:11px;
	height:auto;
	color:#424242;
	font-family:"Helvetica Neue", Helvetica, Arial;
	line-height:1.4em;
	padding-top:0;
	width:140px;
	float:left
}
.LYT_BeautyLanding .HA_LYT_Content .HA_FRM_Button {
	clear:both;
	float:left;
	font-weight:bold
}
.LYT_BeautyLanding .HA_LYT_Content div.HA_IMG_NutriliteLogo {
	padding-top:15px
}
.LYT_BeautyLanding div.PT_LYT_LandingPromos, .LYT_BeautyLanding div.PT_LYT_LandinghomePromos {
	min-height:133px;
	border-bottom:0px solid #dcdcdc;
	padding-bottom:5px;
	margin:0
}
.LYT_BeautyLanding div.PT_LYT_LandingPromos li .PT_LYT_ImageWrap img, .LYT_BeautyLanding div.PT_LYT_LandinghomePromos li .PT_LYT_ImageWrap img {
	position:absolute;
	right:0px;
	bottom:0px
}
.LYT_BeautyLanding div.PT_LYT_LandingPromos li, .LYT_BeautyLanding div.PT_LYT_LandinghomePromos li {
	width:304px;
	padding:15px 0px 0 15px;
	margin:0px;
	float:left;
	list-style:none;
	position:relative;
	min-height:70px;
	text-align:left;
	font-family:verdana, helvetica, arial;
	line-height:18px
}
.LYT_BeautyLanding div.PT_LYT_LandingPromos li h4, .LYT_BeautyLanding div.PT_LYT_LandinghomePromos li h4 {
	width:165px
}
.LYT_BeautyLanding div.PT_LYT_LandingPromos ul {
	overflow:hidden
}
.LYT_BeautyLanding div.PT_LYT_LandingPromos li p, .LYT_BeautyLanding div.PT_LYT_LandinghomePromos li p {
	width:185px
}
.LYT_BeautyLanding div.PT_LYT_LandingPromos li .PT_LYT_ImageWrap, .LYT_BeautyLanding div.PT_LYT_LandinghomePromos li .PT_LYT_ImageWrap {
	height:122px
}
.HA_LYTBath_Landing {
	width:960px;
	margin:0px 0 0 0
}
.HA_LYTHome_Landing {
	width:795px;
	margin:10px 0 0 0;
	float:right
}
.HA_LYTLaundry_Landing {
	overflow:hidden;
	width:795px;
	height:355px;
	margin:0px;
	float:right
}
.HA_LYT_FirstContainer {
	width:416px;
	height:326px;
	float:left;
	position:relative
}
.HA_LYT_FirstContainer .AtmosphereImage {
	position:absolute;
	z-index:2;
	top:0
}
.HA_LYT_FirstContainer .AtmosphereContent {
	position:relative;
	z-index:210;
	padding:15px
}
.HA_LYT_FirstContainer h2 sup, .HA_LYT_SecondContainer h2 sup {
	font-size:11px;
	vertical-align:top
}
.HA_LYT_FirstContainer h2 {
	font-size:24px;
	padding-right:100px;
	font-weight:normal
}
.HA_LYT_FirstContainer h3 {
	font-size:17px;
	padding-right:100px
}
.HA_LYT_FirstContainer p {
	padding:10px 150px 0 0;
	margin:0;
	font-size:80%;
	background-repeat:no-repeat;
	background-position:0 0
}
.HA_LYT_FirstContainer a {
	font-weight:bold;
	padding:7px 15px 0 0;
	text-decoration:none;
	display:inline-block
}
.HA_LYT_SecondContainer {
	width:312px;
	height:326px;
	float:right;
	position:relative;
	left:-30px
}
.HA_LYT_SecondContainer .DisdropImage {
	position:absolute;
	z-index:2;
	top:0
}
.HA_LYT_SecondContainer .DisdropContent {
	position:relative;
	z-index:210;
	padding:15px
}
.HA_LYT_SecondContainer h2 {
	font-size:24px;
	padding-right:50px;
	font-weight:normal
}
.HA_LYT_SecondContainer h3 {
	font-size:17px;
	padding-right:50px
}
.HA_LYT_SecondContainer p {
	padding:10px 120px 0 0;
	margin:0;
	font-size:80%
}
.HA_LYT_SecondContainer a {
	font-weight:bold;
	padding:7px 15px 0 0;
	text-decoration:none;
	display:inline-block
}
#laundryPromosContainer .PT_LYT_LandingPromos {
	float:right;
	width:820px;
	margin:0
}
#laundryPromosContainer .PT_LYT_LandingPromos li {
	width:260px;
	padding:0
}
.PT_LYT_GlobalPromo {
	clear:both
}
.PT_LYT_GlobalPromo div.PT_LYT_Wrap {
	float:right;
	width:350px;
	font-family:Verdana;
	margin:0 0 20px 0
}
.PT_LYT_GlobalPromo div.PT_LYT_Image {
	float:left;
	margin:35px 0 0 0;
	width:110px
}
.PT_LYT_GlobalPromo div.PT_LYT_Info {
	width:190px;
	margin:0 0 0 110px
}
.PT_LYT_GlobalPromo h3 {
	font-size:130%;
	margin-bottom:5px;
	font-weight:normal
}
.PT_LYT_GlobalPromo div.PT_LYT_Info img {
	display:block
}
.PT_LYT_GlobalPromo p {
	font-size:71%;
	margin:0 0 1em 0;
	line-height:170%
}
.PT_LYT_GlobalPromo a {
	font-size:100%;
	font-weight:bold;
	margin:10px 0 0 0
}
div.LYT_BusinessModel #MC_LYT_AboutFilmstrip {
	width:454px
}
div.LYT_BusinessModel .MC_LYT_Container .MC_LYT_Text {
	height:294px
}
*html div.LYT_BusinessModel .MC_LYT_Container .MC_LYT_Text div.MC_LYT_Wrap {
	height:264px
}
.MC_LYT_SelectedBusinessTools .MC_LYT_Text div.MC_LYT_BusinessTools, .MC_LYT_SelectedMentoring .MC_LYT_Text div.MC_LYT_Mentoring, .MC_LYT_SelectedTraining .MC_LYT_Text div.MC_LYT_Training, .MC_LYT_SelectedMarketing .MC_LYT_Text div.MC_LYT_Marketing {
	display:block
}
div.LYT_BusinessModel .MC_LYT_Container .MC_IMG_Image {
	height:379px;
	margin:-81px 0 0 0
}
.MC_LYT_ListForm {
	width:80%;
	margin:13px 0 0 0
}
.MC_LYT_ListForm dd, .MC_LYT_ListForm dl {
	margin:0;
	padding:0
}
.MC_LYT_ListForm dt {
	padding:3px 0 3px 0;
	margin:0
}
.MC_LYT_ListForm dd {
	padding:0px 0 3px 0;
	margin:0
}
.MC_LYT_ListForm input.MC_FRM_Text, .MC_LYT_ListForm select.MC_FRM_Select {
	width:202px
}
.MC_LYT_ListForm textarea.MC_FRM_TextArea {
	width:80%
}
.MC_LYT_Omniture {
	width:100%;
	padding:10px;
	margin:0px 0 0 0;
	font-size:11px
}
.MC_LYT_Omniture dd, .MC_LYT_Omniture dl {
	margin:0;
	padding:0
}
.MC_LYT_Omniture dt {
	padding:3px 0 3px 0;
	margin:0;
	float:none;
	clear:both
}
.MC_LYT_Omniture dd {
	padding:0px 0 3px 0;
	margin:0;
	float:left
}
.MC_LYT_Omniture input.MC_FRM_Text, .MC_LYT_Omniture select.MC_FRM_Select {
	width:202px
}
.MC_LYT_Omniture dt table {
	width:90%;
	padding:0;
	margin:0
}
.MC_LYT_Omniture dt table td {
	padding:5px 10px;
	margin:1px
}
div.LYT_ContactUs {
	padding:10px;
	font-size:80%
}
.LYT_ContactUs p {
	margin:0 0 1em 0
}
div.LYT_ContactUs h2 {
	font-size:108%;
	margin-bottom:0.5em
}
div.MC_LYT_ContactType {
	float:left
}
div.MC_LYT_ContactType li {
	list-style:none
}
div.LYT_ContactUs div.MC_LYT_SideImage {
	float:left;
	width:270px;
	overflow:hidden
}
div.LYT_ContactUs div.MC_LYT_WRAP {
	float:right;
	width:650px
}
form.MC_FRM_ContactUs input.MC_FRM_Text, form.MC_FRM_ContactUs select.MC_FRM_Select {
	width:200px
}
form.MC_FRM_ContactUs textarea.MC_FRM_TextArea {
	width:400px
}
.editmodepanel {
	display:block;
	overflow:hidden;
	padding:0px;
	clear:both;
	font-family:arial;
	position:absolute;
	width:960px;
	margin:0px 0px 0 0px;
	z-index:5
}
.editPagePropertiesMenu {
	width:200px;
	margin:0;
	padding:0;
	float:right
}
.webAnalysisContainer {
	float:left;
	margin:0 0 0px 4px
}
.menuImageContainer {
	padding:0px;
	margin:0;
	height:21px
}
.webAnalysisHeader {
	padding:0px;
	width:740px;
	margin:0px;
	height:21px
}
span#webAnalysisHeading1, span#webAnalysisHeading2, span#menuImage2, span#menuImage1 {
	cursor:pointer;
	width:99%;
	padding:3px 0 3px 3px;
	font-size:11px;
	font-weight:bold;
	display:block
}
.webAnalysisObjectContainer {
	display:none;
	height:0px
}
.webAnalysisObjectContainerDisplay {
	padding:3px 0 3px 3px;
	margin:0;
	font-size:11px;
	display:block;
	width:737px
}
.webAnalysisObjectContainerDisplay input {
	margin:0 5px 0 0
}
*html .webAnalysisObjectContainerDisplay {
	width:717px
}
.menuImageContainer img {
	cursor:pointer;
	margin:3px 0 0 0;
	float:right
}
.rb_menu {
	left:0;
	border-top:1px solid #ddd;
	font-size:11px
}
.rb_menu a {
	padding:0 10px 0 0
}
.norb_menu {
	visibility:hidden
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	display:inline-block
}
*html .clearfix {
	height:1%
}
.clearfix {
	display:block
}
.MC_LYT_PagingBot {
	font-size:80%
}
.MC_LYT_Container h3.MC_LYT_Message {
	font-size:13px;
	font-family:Verdana;
	padding:0
}
.MC_LYT_Container div.MC_LYT_FiltersAndPaging {
	padding:10px 10px 0 10px;
	font-size:80%
}
.MC_LYT_Container div.MC_LYT_FiltersAndPaging div.MC_LYT_Wrap:after {
	clear:both;
	display:block;
	content:".";
	visibility:hidden;
	height:0
}
.MC_LYT_Container div.MC_LYT_SortBy {
	float:left
}
.MC_LYT_Container div.MC_LYT_ResultsPerPage {
	float:right
}
.MC_LYT_Container div.MC_LYT_PagingBot {
	padding:10px
}
ol.MC_LYT_PagingList {
	text-align:right;
	margin:0;
	padding:0 0 7px 0;
	clear:both
}
ol.MC_LYT_PagingList li {
	list-style:none;
	display:inline;
	padding:0 1px
}
ol.MC_LYT_PagingList li a {
	font-size:13px;
	font-family:Verdana;
	font-weight:bold !important
}
ol.MC_LYT_PagingList a.MC_NAV_Current {
	color:#282a2c;
	text-decoration:none
}
ol.MC_LYT_PagingList a.MC_NAV_Prev {
	padding:0 5px 0 15px;
	font-weight:bold !important
}
ol.MC_LYT_PagingList a.MC_NAV_Next {
	padding:0 15px 0 5px;
	font-weight:bold !important
}
.MC_LYT_SearchInfo table tr td {
	font-size:12px;
	padding:10px 0;
}
ol.MC_LYT_SearchResultsList {
	margin:20px 0 0 0;
	padding:0;
	list-style-type:none
}
ol.MC_LYT_SearchResultsList li:after {
	clear:both;
	display:block;
	content:".";
	visibility:hidden;
	height:0
}
ol.MC_LYT_SearchResultsList div.a20-img {
	float:left;
	width:160px
}
ol.MC_LYT_SearchResultsList div.MC_LYT_SearchInfo {
	padding-left:10px
}
ol.MC_LYT_SearchResultsList li h2 a {
	font-size:14px;
	font-family:Verdana;
	margin-bottom:0.5em;
	text-decoration:none
}
ol.MC_LYT_SearchResultsList li p {
	font-size:12px;
	font-family:Verdana
}
ol.MC_LYT_SearchResultsList li p.MC_LYT_ResultCategory {
	font-size:92%
}
ol.MC_LYT_SearchResultsList li p.MC_NAV_CallToAction a {
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding-right:15px
}
.ContentBox {
	display:block;
	margin:5px 0;
	line-height:20px
}
.MC_LYT_Container div.MC_LYT_SearchBottom {
	padding:7px 30px;
	text-align:right;
	margin-bottom:30px
}
.MC_LYT_Container div.MC_LYT_SearchBottom legend {
	display:none
}
.MC_LYT_Container div.MC_LYT_SearchBottom ol, .LYT_SearchResults .MC_LYT_Container div.MC_LYT_SearchBottom fieldset {
	margin:0
}
.MC_LYT_Container div.MC_LYT_SearchBottom li {
	display:inline
}
div.MC_LYT_CountriesWrap {
	padding:10px;
	margin-top:2px;
	zoom:1
}
div.MC_LYT_CountriesWrap:after {
	clear:both;
	display:block;
	content:".";
	visibility:hidden;
	height:0
}
div.MC_LYT_CountriesWrap h2 {
	font-size:27px;
	font-weight:normal;
	margin-bottom:7px
}
div.MC_LYT_Countries {
	float:left;
	width:300px;
	padding-left:20px
}
div.MC_LYT_Countries h3 {
	font-size:14px;
	font-weight:normal
}
div.MC_LYT_Countries ul {
	margin:10px 0 0 15px;
	float:left;
	padding:0
}
*html div.MC_LYT_Countries ul {
	margin-left:7px
}
div.MC_LYT_Countries li {
	margin-bottom:3px;
	list-style:none;
	float:left;
	width:140px;
	font-size:12px
}
div.MC_LYT_Countries li a {
	text-decoration:none
}
div.MC_LYT_Countries li a.MC_LYT_Selected {
	font-weight:bold
}
div.MC_LYT_CountryInfo {
	float:right;
	width:424px;
	padding:0 0px 0 20px
}
div.MC_LYT_CountryInfo h2 {
	margin-bottom:30px
}
div.MC_LYT_CountryInfo p {
	font-size:14px
}
div.MC_LYT_CountryInfo div.adr p {
	margin:0 0 2px 0
}
div.MC_LYT_CountryInfo .MC_LYT_CountryMapImage {
	float:right;
	width:150px;
	height:88px
}
div.MC_LYT_CountryInfo .MC_LYT_CountryDetails {
	float:left;
	width:260px
}
#GN_LYT_CountrySelector {
	position:absolute;
	top:75px;
	width:972px;
	height:585px;
	z-index:450000;
	overflow:hidden;
}
#GN_LYT_CountrySelector div.GN_LYT_Header {
	padding:2px 12px;
	margin:20px 20px 0 0;
	text-align:right;
	float:right;
}
#GN_LYT_CountrySelector div.GN_LYT_Header span.GN_NAV_Close a {
	font-size:100%;
	cursor:pointer;
	font-weight:normal
}
#GN_LYT_CountrySelector ul {
	margin:0
}
#GN_LYT_CountrySelector li.GN_LYT_Column {
	float:left;
	width:230px;
	margin:0px 20px 0 0
}
#GN_LYT_CountrySelector li.GN_LYT_Column ul {
	margin:0 0;
	padding-bottom:25px
}
#GN_LYT_CountrySelector li {
	list-style:none
}
#GN_LYT_CountrySelector li ul {
	padding-bottom:15px
}
#GN_LYT_CountrySelector li.GN_LYT_Column li {
	padding:3px 0 0;
	font-size:11px;
	clear:both;
	overflow:hidden;
	display:block;
	height:1%
}
#GN_LYT_CountrySelector li.GN_LYT_Column li span.countryName {
	float:left;
	width:115px;
}
#GN_LYT_CountrySelector li.GN_LYT_Column li span.countryLanguage {
	float:left;
	width:110px;
	font-weight:bold;
	margin:0 0 0 5px;
	overflow:hidden
}
#GN_LYT_CountrySelector li.GN_LYT_Column li span a:hover {
	text-decoration:underline
}
#GN_LYT_CountrySelector li li:after {
	clear:both;
	display:block;
	content:".";
	visibility:hidden;
	height:0
}
.GN_LYT_Body {
	width:750px;
	margin:20px 0 0 80px;
	overflow:hidden;
}
#GN_LYT_CountrySelector li label.GN_NAV_Selected {
	font-weight:bold
}
#GN_LYT_CountrySelector h3 {
	font-size:18px;
	font-weight:normal;
	margin:0 0px 0 0px;
	padding:0
}
.footnote {
	font-size:10px;
	line-height:normal
}
.RadTreeView .rtUL .rtUL {
	padding:0 !important
}
.rade_toolbar {
	display:block;
	clear:both
}
.rade_editorModes, .rade_module, .rade_resizeCell, tr.titlerow, tr.footerrow, .statusbarrow, td.bodyright, td.bodyleft {
	display:none
}
.rade_dropdown {
	width:250px;
	display:block
}
.RadMenu {
	text-align:center;
	z-index:1
}
.RadMenu_Default {
	border-bottom-width:0;
	text-align:left;
	padding:0 0 0 0px;
	margin:10px 0 0 0px;
	z-index:1
}
.RadMenu_Default ul.rmHorizontal li {
	margin:0px 6px
}
.RadMenu_Default ul.rmHorizontal li.rmFirst {
	margin-left:0px
}
.RadMenu_Default ul.rmHorizontal li.rmLast {
	margin-right:0px
}
.RadMenu_Default ul.rmHorizontal li ul.rmVertical li {
	margin:0px;
	font-family:Arial, sans-serif
}
.RadMenu_Default_rtl {
	text-align:right
}
.RadMenu_Default_Context {
	background:none;
	border:0
}
.RadMenu_Default a {
	text-decoration:none
}
.RadMenu_Default .rmLink {
	text-decoration:none;
	color:#6e6e6e;
	font-weight:bold;
	cursor:pointer
}
.RadMenu_Default .rmLink:focus, .RadMenu_Default .rmFocused {
	outline:0
}
.RadMenu_Default .rmExpanded {
	position:relative
}
.RadMenu_Default .rmLink:hover, .RadMenu_Default .rmExpanded {
	color:#06c;
	cursor:pointer
}
.RadMenu_Default .rmLink .rmText {
	font-size:80%
}
.RadMenu_Default .rmGroup {
	background:#f1f1f1
}
.RadMenu_Default .rmGroup .rmLink {
	text-decoration:none;
	color:#666;
	text-transform:capitalize;
	font-size:85%;
	font-weight:normal
}
.RadMenu_Default_rtl .rmGroup .rmLink {
	text-align:right
}
.RadMenu_Default .rmGroup .rmLink:hover, .RadMenu_Default .rmGroup .rmFocused, .RadMenu_Default .rmGroup .rmExpanded {
	color:#06c;
	text-transform:capitalize;
	font-weight:normal;
	cursor:pointer
}
.RadMenu_Default .rmText {
}
.RadMenu_Default .rmGroup .rmLink .rmText {
	padding:4px 18px 5px 10px
}
.RadMenu_Default_rtl .rmGroup .rmLink .rmText {
	padding:4px 20px 5px 37px
}
.RadMenu_Default .rmGroup .rmLink .rmExpandRight {
	background:transparent url(Menu/ArrowExpand.gif) no-repeat right -1px
}
.RadMenu_Default .rmGroup .rmLink .rmExpandLeft {
	background:transparent url(Menu/ArrowExpandRTL.gif) no-repeat left -1px
}
.RadMenu_Default .rmGroup .rmLink:hover .rmExpandRight, .RadMenu_Default .rmGroup .rmFocused .rmExpandRight, .RadMenu_Default .rmGroup .rmExpanded .rmExpandRight {
	background-image:url(Menu/ArrowExpandHovered.gif)
}
.RadMenu_Default .rmGroup .rmLink:hover .rmExpandLeft, .RadMenu_Default .rmGroup .rmFocused .rmExpandLeft, .RadMenu_Default .rmGroup .rmExpanded .rmExpandLeft {
	background-image:url(Menu/ArrowExpandHoveredRTL.gif)
}
.RadMenu_Default .rmHorizontal .rmItem {
	border-right:0px solid #666;
	padding-bottom:0px
}
.RadMenu_Default .rmHorizontal .rmLast {
	border-right:0
}
.RadMenu_Default .rmVertical .rmItem {
	border-bottom:0px solid #666
}
.RadMenu_Default .rmVertical .rmLast {
	border-bottom:0;
	padding-bottom:0px
}
.RadMenu_Default_rtl .rmHorizontal .rmItem {
	border-left:0
}
.RadMenu_Default .rmRootGroup .rmGroup .rmItem, .RadMenu_Default_Context .rmGroup .rmItem {
	border-right:0;
	border-bottom:0;
	padding-bottom:0
}
.RadMenu_Default .rmGroup {
	border-bottom:4px solid #ccc;
	background-color:#fafafa;
	margin:0px 0 0 0
}
.RadMenu_Default .rmGroup li {
	border-bottom:1px dotted #ccc
}
.RadMenu_Default .rmGroup .rmExpanded {
}
.RadMenu_Default .rmTopArrow, .RadMenu_Default .rmBottomArrow {
	height:10px;
	width:100%;
	background:#fff url(Menu/ArrowScrollUpDown.gif) no-repeat top center
}
.RadMenu_Default .rmBottomArrow {
	background-position:center -18px
}
.RadMenu_Default .rmLeftArrow, .RadMenu_Default .rmRightArrow {
	width:10px;
	height:100%;
	background:#fff url(Menu/ArrowScrollLeftRight.gif) no-repeat left center
}
.RadMenu_Default .rmRightArrow {
	background-position:-18px center
}
.RadMenu_Default .rmItem .rmDisabled .rmText {
	color:#666
}
.RadMenu_Default .rmRootGroup .rmItem .rmDisabled {
	background:none
}
.RadMenu_Default .rmGroup .rmItem .rmDisabled {
	background-color:#fff
}
.RadMenu_Default .rmRootGroup .rmSeparator, .RadMenu_Default .rmGroup .rmSeparator {
	background:#f00;
	border-top:1px solid #000;
	border-bottom:0
}
.RadMenu_Default .rmSeparator .rmText {
	display:none
}
.RadMenu_Default .rmHorizontal .rmSeparator {
	height:18px;
	width:1px;
	line-height:20px;
	border:0
}
.RadMenu_Default .rmVertical .rmSeparator {
	height:1px;
	margin:3px 0;
	border:0;
	line-height:1px
}
.RadMenu_Default .rmLeftImage {
	margin:0px
}
.RadMenu_Default .rmSlide {
	margin:0px 0 0 0px !important
}
.RadMenu_Default .rmHorizontal .rmSlide {
	margin-top:0px !important
}
.RadMenu_Default_rtl .rmSlide {
	margin-left:0 !important;
	margin-right:0px !important
}
.RadMenu_Default .rmGroup .rmSlide {
	margin:0 !important
}
.RadMenu_Default .rmItem .rmDisabled:hover {
	background:none
}
div.RadMenu_Office2007 ul.rmRootGroup {
	padding:0px;
	margin:0px
}
div.RadMenu_Office2007 {
	width:50px;
	margin:0px 0 0 0;
	padding:0
}
.RadMenu_Office2007 .rmLink {
	text-decoration:none;
	color:#9c9c9c;
	font-weight:normal;
	padding:0px
}
div.RadMenu_Office2007 ul {
	margin:0;
	padding:0
}
div.RadMenu_Office2007 li {
	list-style-type:none;
	margin:0;
	padding:0;
	float:left
}
div.RadMenu_Office2007 .rmHorizontal a.rmLink {
	padding:0;
	margin:0px
}
div.RadMenu_Office2007 .rmHorizontal a.rmLink {
	background:url(http://www.amway.com/PublishingImages/template/SpriteImageNew.gif) no-repeat right -60px;
	padding:0 10px 0 0
}
div.noarrow .rmHorizontal a.rmLink {
	background-image:none
}
*+html div.RadMenu_Office2007 .rmHorizontal a.rmLink {
	padding:0 13px 0 0
}
div.RadMenu_Office2007 .rmVertical a.rmLink {
	background:none;
	border:0px solid #7094c8
}
.RadMenu_Office2007 .rmHorizontal .rmLinkSelected {
	padding:0;
	background:none;
	cursor:pointer;
	border:0px solid #7094c8;
	margin:0px
}
.RadMenu_Office2007 .rmHorizontal .rmLink:hover {
	padding:0px 0px;
	cursor:pointer;
	border:0px solid #7094c8;
	padding:0 10px 0 0;
	margin:0px
}
*+html div.RadMenu_Office2007 .rmHorizontal .rmLink:hover {
	padding:0 13px 0 0
}
.RadMenu_Office2007 .rmExpanded, .RadMenu_Office2007 .rmFocused {
	cursor:pointer
}
.RadMenu_Office2007 .rmDisabled, .RadMenu_Office2007 .rmDisabled:hover {
	color:#9c9c9c;
	padding:0px 0px;
	border:0;
	margin:0px;
	background:none;
	cursor:default !important
}
.RadMenu_Office2007 .rmGroup {
	border:0px solid #898fa5
}
.RadMenu_Office2007_rtl .rmGroup {
	background-position:100% 0
}
.RadMenu_Office2007 .rmGroup .rmLink {
	padding:0px 0px;
	margin:0px
}
.RadMenu_Office2007 .rmGroup .rmText {
	padding:0px
}
.RadMenu_Office2007 .rmGroup .rmLink:hover, .RadMenu_Office2007 .rmGroup .rmExpanded, .RadMenu_Office2007 .rmGroup .rmFocused {
	padding:0px 0;
	cursor:pointer
}
.RadMenu_Office2007 .rmGroup .rmDisabled, .RadMenu_Office2007 .rmGroup .rmDisabled:hover {
	color:#9c9c9c;
	padding:0px;
	border:0;
	background:none;
	cursor:default
}
.RadMenu_Office2007 .rmGroup .rmExpandRight {
	background:transparent url('Menu/rmExpandArrowRight.gif') no-repeat 100% 50%
}
.RadMenu_Office2007 .rmGroup .rmExpandLeft {
	background:transparent url('Menu/rmExpandArrowLeft.gif') no-repeat 0 50%
}
.RadMenu_Office2007 .rmGroup .rmLeftImage {
	margin-left:2px
}
*html .RadMenu_Office2007 .rmGroup .rmLeftImage {
	margin-left:1px
}
.RadMenu_Office2007 .rmExpanded {
	z-index:2000
}
.RadMenu_Office2007 .rmSeparator {
	margin:0
}
.RadMenu_Office2007 .rmGroup .rmSeparator .rmText {
	background:#9ac6ff;
	padding-top:0px;
	margin-left:30px
}
.RadMenu_Office2007 .rmTopArrow, .RadMenu_Office2007 .rmBottomArrow {
	background:#fff url('Menu/rmScrollingArrows.gif') no-repeat;
	border:0 solid #898fa5;
	height:10px;
	width:100%;
	outline:0
}
.RadMenu_Office2007 .rmLeftArrow, .RadMenu_Office2007 .rmRightArrow {
	border:0 solid #898fa5;
	width:10px;
	height:28px;
	outline:0
}
.RadMenu_Office2007 .rmTopArrow {
	background-position:50% 0;
	border-bottom-width:1px
}
.RadMenu_Office2007 .rmBottomArrow {
	background-position:50% 100%;
	border-top-width:1px
}
.RadMenu_Office2007 .rmLeftArrow {
	background-position:0 50%;
	border-right-width:1px
}
.RadMenu_Office2007 .rmRightArrow {
	background-position:100% 50%;
	border-left-width:1px
}
.RadMenu_Office2007_Context {
	background:none
}
.RadMenu_Office2007 ul.rmHorizontal li {
	margin:0px 0px 0 0px;
	padding:0
}
.ms-selectorlink {
	margin:0 5px 0 0px
}
.ms-formfieldvaluecontainer {
	display:inline-block
}
.ms-long {
	width:176px
}
.ms-usereditor {
	display:block;
	overflow:hidden
}
.ms-globalright {
	display:inline-block
}
.ms-siteactionsmenu div div div {
	padding:2px 4px 3px 10px
}
.ms-HoverCellInActive, .ms-SpLinkButtonInActive {
	color:#000
}
.ms-HoverCellActive, .ms-SpLinkButtonActive {
	border:#6f9dd9 0px solid
}
.ms-SPLink img {
	position:relative;
	top:0px;
	display:inline;
	left:0px;
	margin:0px
}
.ms-SPLink A, .ms-SPLink A:visited {
	line-height:20px;
	padding:0 3px
}
td.ms-sbcell input {
	border:1px solid #999;
	padding:2px 0 2px 0
}
td.ms-sbcell input {
	border:1px solid #ddd;
	padding:2px 0 2px 0
}
table.formTable {
	width:100%;
	padding:0;
	margin:0
}
table.formTable td {
	font-style:Normal;
	font-family:verdana;
	font-weight:normal;
	color:#333
}
dl.formlist select.listbox {
	Width:350px;
	height:138px;
	font-family:Verdana;
	color:#666;
	border:1px solid #333
}
.formcontainer {
	width:100%;
	font-size:12px;
	text-align:left !important
}
.formcontainer dl dt, .formcontainer dl dd {
	padding:2px 0 3px 0;
	float:left;
	margin:0
}
.formcontainer dl dt {
	padding-left:0px
}
dl.formlist {
	width:650px;
	font-size:11px
}
dl.formlist dt {
	clear:both;
	width:150px
}
dl.formlist dd {
	color:#666;
	width:500px
}
.fontsize12 {
	font-size:12px
}
dl.formlist input, dl.formlist textarea {
	border:1px solid #666;
	font-size:11px !important;
	width:346px;
	font-family:Verdana
}
dl.formlist input.button, #overlay div.deleteProjectPoint input.button {
	border:1px solid #ccc;
	margin:20px 5px 0 0;
	font-size:11px !important;
	width:100px;
	font-family:Verdana;
	background:url("/_layouts/images/navshape.jpg") 0 0 no-repeat
}
span.linebreak {
	display:block
}
.currentDate, .weekDate, .nextmonth {
	background:url("/_layouts/images/navshape.jpg") 0 0 no-repeat;
	border:1px solid #ccc;
	border-collapse:collapse;
	font-size:11px;
	font-family:Arial
}
.weekDate {
	background:none
}
#overlay {
	position:absolute;
	margin:0 auto;
	visibility:hidden;
	position:absolute;
	left:40%;
	top:270px;
	width:auto;
	height:auto;
	font-size:12px;
	font-family:Verdana;
	z-index:100000000;
	background-color:#eee;
	border:1px dashed #666;
	padding:15px
}
#overlay div.deleteProjectPoint {
	width:350px;
	height:150px;
	margin:0px;
	background-color:#f1f1f1;
	position:absolute;
	z-index:2
}
#overlay div#frameborder {
	width:350px;
	height:150px;
	background:#fff;
	margin:0px;
	border:1px dashed #666;
	padding:0;
	position:absolute;
	z-index:1
}
#overlay div#frameborder iframe {
	height:150px;
	width:350px
}
#overlay ul {
	margin:0px;
	padding:0px
}
#overlay ul li {
	font-size:12px;
	list-style-type:none;
	font-family:Verdana
}
#overlay ul li label {
	font-size:11px
}
.ms-siteactionsmenu div div div {
	background:none;
	border:0px solid #7094c8;
	padding:2px 4px 3px 10px;
	margin:0px
}
.ms-siteactionsmenu div div div.ms-siteactionsmenuhover {
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:transparent
}
.ms-HoverCellInActive, .ms-SpLinkButtonInActive {
	margin:0px;
	vertical-align:top;
	background-color:transparent
}
.ms-siteactionsmenu div div div.ms-siteactionsmenuhover {
	background-image:none;
	margin:0px;
	border:0px solid #7094c8;
	background-color:transparent
}
.ms-sbplain {
	font-family:arial;
	border:none;
	border:1px solid #ddd
}
.lastPromos {
	margin:0;
	padding:0;
}
