<!doctype html>
<html lang="en">
    <head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Samsung | Merchandising</title>
  	<style>
    	/* Prevents slides from flashing */
    	#slides {
    	  display:none;
    	}
  	</style>
  <link rel="stylesheet" type="text/css" href="../css/slides.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  
  <script src="../js/jquery-latest.min.js"></script>
  <script src="../js/jquery.slides.min.js"></script>
  <script>
    $(function(){
      $("#slides").slidesjs({
        width: 720,
        height: 2125,
		navigation: false
      });
    });
  </script>

        
</head>
<body>
  <div id="slides">
 	 <img src="../img/slides/merchandising/001.jpg" alt="">
     <img src="../img/slides/merchandising/002.jpg" alt="">
     <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
     <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
  </div>
</body>
</html>