<!doctype html>
<html lang="en">
    <head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Samsung | Mobile</title>
  	<style>
    	/* Prevents slides from flashing */
    	#slides {
    	  display:none;
    	}
  	</style>
  <link rel="stylesheet" type="text/css" href="../css/slides.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  
  <script src="../js/jquery-latest.min.js"></script>
  <script src="../js/jquery.slides.min.js"></script>
  <script>
    $(function(){
      $("#slides").slidesjs({
        width: 1280,
        height: 7010,
		navigation: false
      });
    });
  </script>

        
</head>
<body>
  <div id="slides">
  	 <img src="../img/slides/mobile/001.jpg" alt="">
     <img src="../img/slides/mobile/002.png" alt="">
     <img src="../img/slides/mobile/003.jpg" alt="">
     <img src="../img/slides/mobile/004.jpg" alt="">
     <img src="../img/slides/mobile/005.jpg" alt="">
     <img src="../img/slides/mobile/006.jpg" alt="">
     <img src="../img/slides/mobile/007.jpg" alt="">
     <img src="../img/slides/mobile/008.jpg" alt="">
     <img src="../img/slides/mobile/009.jpg" alt="">
    <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
    <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
     
  </div>
</body>
</html>
