<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Samsung | Videos</title>

        <!-- Shared assets -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" href="../css/screen-mobile.css" type="text/css">
    	<link rel="stylesheet" media="only screen and (min-width: 768px)" href="../css/screen-tablet.css" type="text/css">

        <!-- Example assets -->

        <script type="text/javascript" src="../js/jquery-latest.min.js"></script>

    </head>
    <body>
        <div class="wrapper">
        	<ul id="menu">
            	<li><a href="../videos/stunning.html"><span>01</span>stunning</a></li>            
            	<li><a href="../videos/easy.html"><span>02</span>easy</a></li>            
            	<li><a href="../videos/delight.html"><span>03</span>delight</a></li>            
            	<li><a href="../videos/everywhereApp.html"><span>04</span>everywhere - app</a></li>            
            	<li><a href="../videos/everywhereWeb.html"><span>05</span>everywhere - web</a></li>            
            	<li><a href="../videos/social.html"><span>06</span>social</a></li>            
            	<li><a href="../videos/fitMySpace.html"><span>07</span>surprising - fit my space</a></li>            
            	<li><a href="../videos/compare.html"><span>08</span>surprising - compare</a></li>            
            	<li><a href="../videos/frictionlessCart.html"><span>09</span>frictionless cart</a></li>            
            </ul>
        </div>

    </body>
</html>
