




/*
     FILE ARCHIVED ON 1:37:32 Jul 13, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:48:31 Jan 23, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/* Template */
.tabContainer {width:567px;}
.tabContainer#wide {width:734px;}
.tabContainer#superwide {width:934px;}

.tabContainer .tabNav {display:inline;}
.tabContainer .tabNav li {display:inline;float:left;padding-top:6px;position:relative;top:1px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavBack.jpg) repeat-x bottom left;}
.tabContainer .tabNav li .outer {background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavLeft.jpg) no-repeat top left;}
.tabContainer .tabNav li a {width:120px;height:18px;display:block;padding:6px 10px;font-size:12px;font-weight:bold;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavRight.jpg) no-repeat top right;}

/* The hovering tab */
.tabContainer .tabNav li.hover {background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavBackOver.jpg) repeat-x bottom left;}
.tabContainer .tabNav li.hover .outer {background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavLeftOver.jpg) no-repeat top left}
.tabContainer .tabNav li.hover a {color:#007253;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavRightOver.jpg) no-repeat top right;}

/* The selected tab */
.tabContainer .tabNav li.selected {padding-top:0px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavBackSelected.jpg) repeat-x bottom left;}
.tabContainer .tabNav li.selected .outer {background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavLeftSelected.jpg) no-repeat top left}
.tabContainer .tabNav li.selected a {height:18px;color:#007253;padding-top:12px;text-decoration:none;cursor:default;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavRightSelected.jpg) no-repeat top right;}
.tabContainer .tabNav li.left .outer {background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavRightShadow.jpg) no-repeat top left}
.tabContainer .tabNav li.right a {background:url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavLeftShadow.jpg) no-repeat top right;}

/* Text to the right of tabs */
.tabContainer .tabNav li.nontab {text-align:right;font-size:11px;padding:15px 0px 0px 80px;background:none}

/* The tab body */
.tabContainer .tabBody {clear:left;border:solid 1px #8eafc5;padding:10px;}
.tabContainer .tabBody div {display:none;}
.tabContainer .tabBody div.selected {display:block;}
.tabContainer .tabBody div div {display:block;}

/* This is where the widths are set */
.tabContainer .tabNav #ratesTab a {width:77px;}
.tabContainer .tabNav #requirementsTab a {width:83px;}
.tabContainer .tabNav #freeTab a {width:82px;}
.tabContainer .tabNav #relatedTab a {width:100px;}
.tabContainer .tabNav #accountTab a {width:102px;}
.tabContainer .tabNav #learningTab a {width:100px;}
.tabContainer .tabNav #relProSerTab a {width:175px;}
.tabContainer .tabNav #addInfoTab a {width:124px;}
.tabContainer .tabNav #onlDemTab a {width:75px;}
.tabContainer .tabNav #becSupTab a {width:108px;}
.tabContainer .tabNav #cerRenTab a {width:110px;}
.tabContainer .tabNav #comLisTab a {width:110px;}
.tabContainer .tabNav #polOveTab a {width:90px;}
.tabContainer .tabNav #guidenlinesTab a {width:55px;}
.tabContainer .tabNav #subReqTab a {width:93px;}
.tabContainer .tabNav #comRelFinSerTab a {width:222px;}
.tabContainer .tabNav #capMarTab a {width:90px;}
.tabContainer .tabNav #financeTab a {width:38px;}
.tabContainer .tabNav #corOpeTab a {width:125px;}
.tabContainer .tabNav #loaSerTab a {width:83px;}
.tabContainer .tabNav #infSerTab a {width:120px;}
.tabContainer .tabNav #boaDirTab a {width:105px;}
.tabContainer .tabNav #officersTab a {width:45px;}
.tabContainer .tabNav #corDocTab a {width:125px;}
.tabContainer .tabNav #accFeaTab a {width:102px;}
.tabContainer .tabNav #pointsTab a {width:33px;}
.tabContainer .tabNav #featuresTab a {width:48px;}
.tabContainer .tabNav #terConTab a {width:112px;}
.tabContainer .tabNav #feaBenTab a {width:116px;}
.tabContainer .tabNav #feeOptTab a {width:87px;}
.tabContainer .tabNav #bulOrdTab a {width:70px;}
.tabContainer .tabNav #tourTab a {width:25px;}
.tabContainer .tabNav #feesTab a {width:26px;}
.tabContainer .tabNav #proFeaTab a {width:100px;}
.tabContainer .tabNav #tipsTab a {width:25px;}
.tabContainer .tabNav #freOnlPayBilTab a {width:140px;}
.tabContainer .tabNav #touDemTab a {width:110px;}
.tabContainer .tabNav #onlBanTab a {width:85px;}
.tabContainer .tabNav #onlBilPayTab a {width:83px;}
.tabContainer .tabNav #plaAccTypTab a {width:143px;}
.tabContainer .tabNav #benefitsTab a {width:48px;}
.tabContainer .tabNav #feaAdvTab a {width:132px;}
.tabContainer .tabNav #feeConLimTab a {width:150px;}
.tabContainer .tabNav #funOptTab a {width:93px;}
.tabContainer .tabNav #redMilTab a {width:80px;}
.tabContainer .tabNav #solProTab a {width:91px;}
.tabContainer .tabNav #tab1WaitTab a {width:81px;}
.tabContainer .tabNav #tab2WaitTab a {width:81px;}
.tabContainer .tabNav #tab3WaitTab a {width:81px;}
.tabContainer .tabNav #tab4WaitTab a {width:81px;}
.tabContainer .tabNav #taxCodTab a {width:62px;}
.tabContainer .tabNav #empBenTab a {width:105px;}
.tabContainer .tabNav #busBenTab a {width:103px;}
.tabContainer .tabNav #rateTab a {width:33px;}
.tabContainer .tabNav #plansTab a {width:30px;}
.tabContainer .tabNav #contactsTab a {width:50px;}
.tabContainer .tabNav #leaProTab a {width:98px;}
.tabContainer .tabNav #tecReqTab a {width:55px;}
.tabContainer .tabNav #advantagesTab a {width:65px;}
.tabContainer .tabNav #formsTab a {width:40px;}
.tabContainer .tabNav #enrollTab a {width:33px;}
.tabContainer .tabNav #helpTab a {width:25px;}
.tabContainer .tabNav #meeProTab a {width:125px;}
.tabContainer .tabNav #casYouVotTab a {width:90px;}
.tabContainer .tabNav #comparisonTab a {width:70px;}
.tabContainer .tabNav #proDetTab a {width:88px;}
.tabContainer .tabNav #visBusOptTab a {width:130px;}
.tabContainer .tabNav #solutionsTab a {width:53px;}
.tabContainer .tabNav #relSolTab a {width:100px;}
.tabContainer .tabNav #webAchTab a {width:158px;}
.tabContainer .tabNav #robRepTab a {width:98px;}
.tabContainer .tabNav #achPosPayTab a {width:96px;}
.tabContainer .tabNav #resultsTab a {width:42px;}
.tabContainer .tabNav #industriesTab a {width:58px;}
.tabContainer .tabNav #relationshipsTab a {width:75px;}
.tabContainer .tabNav #relSerTab a {width:96px;}
.tabContainer .tabNav #expertiseTab a {width:53px;}
.tabContainer .tabNav #experienceTab a {width:65px;}
.tabContainer .tabNav #whyNatCitBanTab a {width:138px;}
.tabContainer .tabNav #optionsTab a {width:43px;}
.tabContainer .tabNav #rewBenTab a {width:113px;}
.tabContainer .tabNav #detailsTab a {width:37px;}
.tabContainer .tabNav #rulesTab a {width:84px;}
.tabContainer .tabNav #rotTraTab a {width:101px;}
.tabContainer .tabNav #stocksTab a {width:70px;}
.tabContainer .tabNav #bondsTab a {width:68px;}
.tabContainer .tabNav #spInvAcctTab a {width:188px;}
.tabContainer .tabNav #compareTab a {width:106px;}
.tabContainer .tabNav #ageIncomeContTab a {width:190px;}
.tabContainer .tabNav #ageIncomeRestTab a {width:151px;}
.tabContainer .tabNav #contributionLimitsTab a {width:108px;}
.tabContainer .tabNav #conLimTab a {width:120px;}
.tabContainer .tabNav #busServcTab a {width:213px;}
.tabContainer .tabNav #securityTab a {width:100px;}
.tabContainer .tabNav #ImplementationTab a {width:90px;}
.tabContainer .tabNav #rateFeeTab a {width:80px;}
.tabContainer .tabNav #traIraTab a {width:82px;}
.tabContainer .tabNav #writtenTab a {width:50px;}
.tabContainer .tabNav #impliedTab a {width:50px;}
.tabContainer .tabNav #nccFeaTab a {width:144px;}
.tabContainer .tabNav #ncsFeaTab a {width:145px;}
.tabContainer .tabNav #nccFeaImpTab a {width:247px;}
.tabContainer .tabNav #ncsFeaImpTab a {width:248px;}
.tabContainer .tabNav #stepsTab a {width:30px;}
.tabContainer .tabNav #sbaLoaGuaTab a {width:199px;}
.tabContainer .tabNav #cerDevComTab a {width:248px;}
.tabContainer .tabNav #cardUsgTab a {width:66px;}
.tabContainer .tabNav #aboLeaTab a {width:86px;}
.tabContainer .tabNav #videoTab a {width:65px;}
.tabContainer .tabNav #crcDesTab a {width:75px;}
.tabContainer .tabNav #crcImgTab a {width:135px;}
.tabContainer .tabNav #insuranceTab a {width:110px;}
.tabContainer .tabNav #termsTab a {width:100px;}
.tabContainer .tabNav #howAppOnlWksTab a {width:156px;}
.tabContainer .tabNav #appPrvSecTab a {width:170px;}
.tabContainer .tabNav #branchATMTab a {width:102px;}

.tabContainer .tabNav #busessTab a {width:118px;}
.tabContainer .tabNav #ratfeaTab a {width:80px;}
.tabContainer .tabNav #relProTab a {width:104px;}
.tabContainer .tabNav #accservTab a {width:102px;}
.tabContainer .tabNav #casManTab a {width:108px;}
.tabContainer .tabNav #busEssTab a {width:118px;}

.tabContainer .tabNav #splofferTab a {width:82px;}
.tabContainer .tabNav #savcalcTab a {width:110px;}
.tabContainer .tabNav #waytoapplyTab a {width:166px;}
.tabContainer .tabNav #waytoapplychiTab a {width:116px;}
.tabContainer .tabNav #invOptTab a {width:120px;}
.tabContainer .tabNav #leaCenTab a {width:120px;}
.tabContainer .tabNav #indPlaTab a {width:120px;}
.tabContainer .tabNav #empSpoTab a {width:120px;}

.tabContainer .tabNav #debtconsolidationTab a {width:110px;}
.tabContainer .tabNav #homeequityTab a {width:75px;}
.tabContainer .tabNav #autofinancingTab a {width:85px;}
.tabContainer .tabNav #educationfinancingTab a {width:115px;}
.tabContainer .tabNav #personalfinancingTab a {width:110px;}
.tabContainer .tabNav #creditcardTab a {width:65px;}

.tabContainer .tabNav #helocsplofferTab a {width:82px;}
.tabContainer .tabNav #helocwaytoapplyTab a {width:116px;}

.tabContainer .tabNav #ONBBillPaymentTab a {width:200px;}
.tabContainer .tabNav #BillsOnlineTab a {width:200px;}
.tabContainer .tabNav #OfficialSweepsTab a {width:200px;}

.tabContainer .tabNav #InfoapplyTab a {width:150px;}

.tabContainer .tabNav #BusinessCheckingTab a {width:180px;}
.tabContainer .tabNav #SweepOptionsTab a {width:80px;}
.tabContainer .tabNav #RemoteDepositTab a {width:100px;}
.tabContainer .tabNav #VendorPaymentsTab a {width:120px;}

.tabContainer .tabNav #collegeRelatedOfferTab a {width:100px;}
.tabContainer .tabNav #collegeBudgetTipsTab a {width:70px;}
.tabContainer .tabNav #collegeDegreeCostTab a {width:140px;}

/* Investment*/
.tabContainer .tabNav #RetirementTab a {width:70px;}
.tabContainer .tabNav #InvestmentsTab a {width:70px;}
.tabContainer .tabNav #EducationSavingsTab a {width:110px;}
.tabContainer .tabNav #401kTab a {width:30px;}

.tabContainer .tabNav #onbMobileTab a {width:90px;}
.tabContainer .tabNav #onbAlertsTab a {width:37px;}

.tabContainer .tabNav #mobbankTab a {width:100px;}
.tabContainer .tabNav #AlertsMobileTab a {width:89px;}
.tabContainer .tabNav #ToEnrollTab a {width:100px;}

.tabContainer .tabNav #howchkrdyworksTab a {width:145px;}
.tabContainer .tabNav #autoloanresourceTab a {width:125px;}

/* This hides the learning center tab */
#learningTab {display:none;}

/* Featured Rates Table */
table.featuredRates {border-collapse:collapse;border-bottom:solid 1px #d1d1d1;clear:both;}
table.featuredRates tr td {border-bottom:dotted 1px #d1d1d1;padding:9px 15px 9px 10px;font-size:11px;}
table.featuredRates tr.header {background:#f5f5f5;}
table.featuredRates tr.header td {border-bottom:solid 1px #d1d1d1;font: bold 9px Verdana,Arial,Helvetica,sans-serif;}
table.featuredRates tr td.label {font-weight:bold;}
table.featuredRates tr td .button {display:block;width:43px;height:16px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/btnApplyblnk.gif) no-repeat top left;color:#ffffff !important;font-size:12px;font-weight:bold;padding-top:1px;padding-bottom:4px;padding-left:10px;}
table.featuredRates tr td a.button:hover {color:#ffffff !important;text-decoration:underline;}
table.featuredRates tr td a.button:visited {color:#ffffff !important;}
table.featuredRates tr td .button:hover {display:block;width:43px;height:16px;background:url(../../content/images/productApplyButtonOVER.gif) no-repeat top left;font-size:12px;font-weight:bold;padding-top:1px;padding-bottom:4px;padding-left:10px;}

#cdCalc .zip {font-size:12px;font-weight:bold;width:308px;padding-top:18px;float:left;}
#cdCalc div .mindep {width:130px;margin:5px 0px 3px 0px;float:left;}
#cdCalc div .mindepvalue {margin:5px 0px 3px 0px;float:left;}
#cdCalc div .opendep {width:130px;margin:2px 0px 0px 0px;float:left;}
#cdCalc div .textbox {height:10px;float:left;}
#cdCalc div .textbox input {width:50px;height:12px;font-size:11px;margin:0px 5px 0px 0px;}
#cdCalc div .button {float:left;}
#cdCalc div a.button  {display:block;width:17px;height:19px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/button_go_blue.jpg) top left no-repeat;color:#ffffff;font-size:12px;font-weight:bold;padding:1px 10px;}
#cdCalc div a.button:hover  {display:block;width:17px;height:19px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/button_go_blue_over.gif) top left no-repeat;color:#ffffff;font-size:12px;font-weight:bold;padding:1px 10px;}

/* Product Tab Row - there is an IE6 hack for some of these styles, see the ie6.css file */
.tabRow {margin:17px 0px 0px 0px;}
.tabRow .apr {float:left;width:214px;font: bold 13px Arial,Helvetica,sans-serif;color: #007253;}
.tabRow .apr sub {font-size:40%;}
.tabRow div {clear:both;}
.tabRow p {margin:7px 0px 0px 10px;font-size:11px;}
.tabRow p sub {font-size:70%;}
.tabRow p.zip {float:left;margin-top:4px;}
.tabRow p.subtitle {margin:8px 0px 0px 10px;font:bold 9px Verdana,Arial,Helvetica,sans-serif;color: #666666;}
.tabRow p.subtitlesavings {margin:8px 0px 0px 10px;font:9px Verdana,Arial,Helvetica,sans-serif;color: #666666;}
.tabRow p.feevalue {margin:2px 0px 0px 10px;font-size:11px;}
.tabRow p.hlink {margin:10px 0px 3px 8px;padding:0px 0px 0px 12px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/imgLinkArrow.gif) no-repeat 3px 3px;font:11px bold;}
.tabRow .hlink a {font-size:11px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;}
.tabRow a.hylink {font-size:11px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;}
.tabRow a.hlink {font-size:11px;font-weight:bold;}
.tabRow p.downloads {padding:2px 0px;padding-left:21px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/download.gif) no-repeat top left;font:11px;}
.tabRow p.footnote {margin:0px 10px 5px 0px;font-size:10px;}
.tabRow p.footnote sup {font:70%;}
.tabRow p.footnotebld {margin:0px 10px 0px 0px;font-size:10px;font-weight:bold;}
.tabRow p.disclosure {margin:10px 0px 0px 10px;font-size:10px;}
.tabRow ul {margin:5px 0px 0px 10px;}
.tabRow ul li {margin:3px 0px 0px 0px;padding-left:7px;font-size:11px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/imgbullet_body.gif) no-repeat 0px 7px;line-height:17px;}
.tabRow ul li sub {font-size:70%;}
.tabRow ol li {margin:3px 0px 0px 0px;padding-left:0px;list-style-type:decimal;font-size:11px;line-height:17px;}
.tabRow table {margin:0px 0px 0px 10px;}
.tabRow th {padding:0px 0px 2px 0px;font: bold 9px Verdana,Arial,Helvetica,sans-serif;text-align:left;vertical-align:bottom;}
.tabRow td {padding:0px 10px 3px 0px;font-size:11px;text-align:left;vertical-align:top;line-height:14px;}
.tabRow .hr {
background:url(/web/20100713013732/https://www.nationalcity.com/content/images/imgHorizRule.gif) repeat-x center;position:relative;left:1px;
MARGIN: 14px 0px 13px;
HEIGHT: 1px
}
.tabRow .hdr {FONT: bold 12px Arial,Helvetica,sans-serif;COLOR: #666666;}
.tabRow .hdrCenter {FONT: bold 12px Arial,Helvetica,sans-serif;COLOR: #666666;text-align:center;}
.tabRow .hdrFirst {margin:17px 0px 0px 0px;FONT: bold 12px Arial,Helvetica,sans-serif;COLOR: #666666;}
.tabRow ul.innerbullet {padding-left:7px;}
.tabRow ul.arrowlink {margin:5px 0px 0px 10px;}
.tabRow ul.arrowlink li {margin:3px 0px 0px 0px;padding-left:7px;font-size:11px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/imgLinkArrow.gif) no-repeat 0px 7px;line-height:17px;}
.tabRow .call {padding-left:20px;background:url(/web/20100713013732/https://www.nationalcity.com/content/images/phone.gif) no-repeat left;}

/* For Tab Table  */
.tabTable {margin:17px 10px 0px 10px;}

/*RC Tab container */

#RctabContainer{WIDTH: 515px;}
#RctabContainer.tabContainer .tabNav LI{DISPLAY: inline;BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavBack.jpg) repeat-x left bottom !important;FLOAT: left;PADDING-TOP: 6px;POSITION: relative;TOP: 1px;padding-left:0px !important}
#RctabContainer.tabContainer .tabNav LI A {PADDING-RIGHT: 6px;DISPLAY: block;PADDING-LEFT: 8px;FONT-WEIGHT: bold;FONT-SIZE: 11px;BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavRight.jpg) no-repeat right top;PADDING-BOTTOM: 4px;WIDTH: 111px;PADDING-TOP: 8px;HEIGHT: 18px;align: right}
/* #RctabContainer.tabContainer .tabNav LI.hover{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavBackOver.jpg) repeat-x left bottom !important;}*/
#RctabContainer.tabContainer .tabNav LI.selected{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavBackSelected.jpg) repeat-x left bottom !important;PADDING-TOP: 0px}
#RctabContainer.tabContainer .tabNav LI.selected A{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavRightSelected.jpg) no-repeat right top;PADDING-BOTTOM: 4px;CURSOR: default;COLOR: #007253;PADDING-TOP: 14px;HEIGHT: 18px;TEXT-DECORATION: none}
#RctabContainer.tabContainer .tabNav LI.left .outer{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavLeft.jpg) no-repeat left top;}
#RctabContainer.tabContainer .tabNav LI.right A{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavLeftShadow.jpg) no-repeat right top;}
#RctabContainer.tabContainer .tabBody{CLEAR: left;BORDER-RIGHT: #8eafc5 1px solid;PADDING-RIGHT: 16px;BORDER-TOP: #8eafc5 1px solid;PADDING-LEFT: 14px;PADDING-BOTTOM: 20px;BORDER-LEFT: #8eafc5 1px solid;PADDING-TOP: 29px;BORDER-BOTTOM: #8eafc5 1px solid}

#RctabContainer.tabContainer .tabNav LI.hover{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavBackOver.jpg) repeat-x left bottom !important}
#RctabContainer.tabContainer .tabNav LI.hover .outer{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavLeftOver.jpg) no-repeat left top;}
#RctabContainer.tabContainer .tabNav LI.hover A{BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/tabNavRightOver.jpg) no-repeat right top;COLOR: #007253}

/* This is where the widths are set */
#RctabContainer.tabContainer .tabNav #abTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #cdTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #efTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #ghTab a {width:22px;}
#RctabContainer.tabContainer .tabNav #ijTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #klTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #mnTab a {width:23px;}
#RctabContainer.tabContainer .tabNav #opTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #qrTab a {width:22px;}
#RctabContainer.tabContainer .tabNav #stTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #uvTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #wxTab a {width:23px;}
#RctabContainer.tabContainer .tabNav #yzTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #numTab a {width:20px;}
#RctabContainer.tabContainer .tabNav #inputTab a {width:68px;padding-left:39px;}
#RctabContainer.tabContainer .tabNav #resultTab a {width:68px;padding-left:39px;}
#RctabContainer.tabContainer .tabNav #graphsTab a {width:68px;padding-left:39px;}
#RctabContainer.tabContainer .tabNav #helpTab a {width:68px;padding-left:39px;}
#RctabContainer.tabContainer .tabNav #inputpopTab a {width:48px;padding-left:20px;}
#RctabContainer.tabContainer .tabNav #resultpopTab a {width:50px;padding-left:20px;}
#RctabContainer.tabContainer .tabNav #graphspopTab a {width:50px;padding-left:20px;}
#RctabContainer.tabContainer .tabNav #helppopTab a {width:40px;padding-left:20px;}
#RctabContainer.tabContainer .tabNav #tablespopTab a {width:50px;padding-left:20px;}

#RctabContainer.tabContainer .tabBody .inputtxt
{
WIDTH: 87px
}
#RctabContainer.tabContainer .tabBody .CLSRCHorizRule
{
background:url(/web/20100713013732/https://www.nationalcity.com/content/images/imgHorizRule.gif) repeat-x center;position:relative;left:1px;
MARGIN: 14px 0px 13px;
HEIGHT: 1px
}
#RctabContainer.tabContainer .tabBody .nxtbutton A
{
DISPLAY: block;
FONT-WEIGHT: bold;
FONT-SIZE: 12px;
BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/imgRCbtnnxtblnk.gif) no-repeat 50% top;
WIDTH: 47px;
COLOR: #fff;
HEIGHT: 19px;
TEXT-ALIGN: center
}
#RctabContainer.tabContainer .tabBody .nxtbutton A:hover
{
BACKGROUND: url(/web/20100713013732/https://www.nationalcity.com/content/images/imgRCbtnnxtblnk_over.gif) no-repeat 50% top;
TEXT-ALIGN: center
}

/*RC Tab container End*/
